.complete-it {
  position: relative;
}

.complete-it .list {
  position: absolute;
  top: 20px;
  left: 0;
  list-style: none;
  padding: 0;
  display: none;
}

.complete-it .list.open {
  display: block;
}

.complete-it .list li {
  font-weight: 700;
  cursor: pointer;
}

.complete-it .list li.current {
  background-color: #d6d6ff;
}

.complete-it .list li span {
  font-weight: 300;
  pointer-events: none;
}
